/* Style from create-react-app */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Begin Custom Styling */

ul.icons {
  padding-left: 0px;
  display: block;
  flex-basis: 75%;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  /* padding-inline-start: 30px; */
}

.dev-icon{
  display: inline-block;
  text-align: center;
}

.main{
  margin-top: 4rem;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 90%;
}

h1.skills-section{
  display: block;
  font-size: 50px;
  text-align: center;
  margin-top: 5rem;
  padding-top: 30px;
  padding-bottom: 20px;
}

h1.skills-heading{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.home-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  padding: 20px 10px;
  margin-top: 2rem;
  margin-right: 0;
  margin-bottom: 0px;
  margin-left: auto;
}

.home-img{
  min-width: 250px;
}

.home-main>*{
  flex: 1 1 250px;
}

.skills-main{
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1%;
  justify-content: center;
  padding: 20px 20px;
  margin-top: 2rem;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.skills-main>*{
  flex: 1 1 300px;
}

.skills-img{
  margin-left: 5%;
  min-width: 300px;
}

.skills-text{
  margin-left: 5%;
  min-width: 300px;
}

.skills-icons{
  display: flex;
  flex: 1 1 200px;
  margin-bottom: 30px;
}

.skills-icons>*{
  flex: 1 1 200px;
}


.social-media-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0px;
  margin-left: auto;
}
.social-media{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-bottom: 0px;
  margin-left: 0;
}

.tab-main>*{
  flex: 1 1 250px;
}

.tab-text{
  display: block;
  align-self: center;
}

.projects{
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  margin-top: 3rem;
}

.project{
  margin: 1rem;
  max-width: 420px;
  padding: 10px;
  border: 5px solid gray;
  border-radius: 0.85rem;
}